body {
  background: whitesmoke;
  text-align: justify;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 14px;
}

.header {
  font-size: 18px ;
  background-color: rgba(59, 59, 59, 0.6);
  text-align: center;
  padding: 5px;
  color: rgb(255,250,250,0.90);
  text-shadow: 2px 2px 4px rgb(0,0,0,0.75);
  border-radius: 20px ;
  margin-bottom: 20px ;
}

#foto {
  padding: 0;
  width: 80px;
  height: 80px;
}

ul {
  list-style-type: none;
  margin-bottom: 20px;
  padding: 0;
  overflow: hidden;
  background-color: rgb(19, 166, 78);
  opacity: 0.85;
  border-radius: 20px;
}

li {
  float: left;
  font-size: medium;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(58, 183, 108);
  color: white;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #c8c8c8;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.login {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: auto;
  justify-content: space-between;
  border: 1px solid rgb(211,211,211,0.5);
  box-shadow: 2px 2px 8px 4px #d3d3d3d1;
  border-radius: 15px;
  font-family: sans-serif;
  font-size: large;
}

form {
  margin: auto;
  flex: 1 1 100%;
}

form h2 {
  text-align: center;
}

form #username {
  font-size: medium;
}

form #password {
  font-size: medium;
}

form #ingresar {
  display: flex;
  margin: auto;
  margin-bottom: 15px;
  cursor: pointer;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  border-style: solid;
  background-color: rgb(19, 166, 78);
  border-color: rgb(58, 183, 108);
  width: 150px;
  height: 40px;
  transition: 0.2s ease;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 2px;
}

form #ingresar:hover {
  box-shadow: 0 0 30px rgba(58, 183, 108, 0.7), 0 0 30px rgb(58, 183, 108, 0.7),
      0 0 30px rgb(58, 183, 108, 0.7), 0 0 30px rgb(58, 183, 108, 0.7);
    transition: 0.5s;
}

#loginMessage {
  display: none; /* Oculto por defecto */
  text-align: center;
  margin: auto ;
  padding: 10px ;
  max-width: 400px ;
  font-weight: bold ;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  border: 1px solid rgb(211,211,211,0.5);
  box-shadow: 2px 2px 8px 4px #d3d3d3d1;
  border-radius: 15px;
  font-family: sans-serif;
  text-align: center;
  font-size: medium;
}

.cardTitle {
  font-size: 24px;
  padding: 10px 10px 0 10px;
  ;
}

.cardBody {
  padding: 10px;
  flex: 1 1 100%;
}

.cardFooter {
  background: rgb(50,205,50,0.25);
  border-radius: 0 0 15px 15px;
  padding: 10px;
  text-align: center;
}

.cardFooter a {
  text-decoration: none;
  color: rgb(0,0,255,0.80);
  text-shadow: 2px 2px 4px rgb(0,0,0,0.25);
}

@media screen and (max-width: 600px) {
  .container {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .login {
    width: 100%; /* Para que el formulario de login ocupe todo el ancho en móviles */
  }
  .card {
    width: 90%; /* Ajusta el ancho de las tarjetas para pantallas más pequeñas */
  }
}

.footer {
  background-color: rgb(0, 0, 0);
  text-align: center;
  padding: 20px;
  color: rgb(255, 255, 255);
  border-radius: 20px;
  margin-top: 20px;
}